/* # per id, . per classe*/
#sottotitolo{
    color:red
}

.testo-verde{
    color: green;
}

/*per selezionare piu classi 
  .classe-uno.classe-due
  per selezionare determinati elementi di una classe
  h1.prima-classe
  stessa cosa con gli id
  h1#primo-id


*/

/*selezioniamo tutti i paragrafi contenuti nel div che hanno come classe prima-classe*/
div p.prima-classe{
    color:green
}
/*stessa cosa ma selezioniamo solo i div che hanno come classe contenitore*/
div.contenitore p.prima-classe{
    color:green
}

/**/
.testoverde, .sfondo-rosa {
    color: blue;
}

body {
    color: #352d39;
    background-color: #fffcf9;
    text-align: left;
    font-size: 72px;
    font-family: 'Comic Sans MS';
    width: 300px;
    width: 50%;
    height: 300px;
    /*anche se ad esempio restringiamo la pagina la larghezza minima sarà 300 pixel*/
    min-width: 300px;
}

h1{
    text-decoration: line-through;
}

